# OpenAI
OPENAI_API_KEY=""

#Supabase
SUPABASE_URL=""
SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

#Backend
BACKEND_URL=""

#Frontend (Next.js public variable must be prefixed with NEXT_PUBLIC_)
NEXT_PUBLIC_BACKEND_URL=""