# === SUPABASE CONFIGURATION ===
SUPABASE_URL=""
SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_KEY=""
SUPABASE_DB_HOST=""
SUPABASE_DB_PORT=""
SUPABASE_DB_NAME=""
SUPABASE_DB_USER=""
SUPABASE_DB_PASSWORD=""
DATABASE_URL=""

# === OPENAI CONFIGURATION ===
OPENAI_API_KEY=""

#Lang Graph Congig: 
LANGCHAIN_API_KEY = ""
LANGSMITH_API_KEY = ""
# === BACKEND CONFIGURATION ===
BACKEND_PORT=""
ENVIRONMENT=""

# === FRONTEND CONFIGURATION ===
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

